# put this in your ~/.wakatime.cfg file

[settings]
api_url = https://hackatime.hackclub.com/api/hackatime/v1
api_key = 156f3fa9-7bfa-40e5-b604-030acf5f602b

# any other wakatime configs you want to add: https://github.com/wakatime/wakatime-cli/blob/develop/USAGE.md#ini-config-file
  